#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}


// footer {
//     background: $footer-bkg;
//     color: $footer-text-color;
//     margin-top: 50px;
//     padding: 30px 0!important;
//     font-size: 12px;
//     a {
//         color: $footer-link-color;
//         text-decoration: none!important;
//     }
// }